<!DOCTYPE html>
<html>
  <head>
    <title>Medical Store</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Welcome to the Medical Store!</h1>
    <p>Please select an option:</p>
    <ul>
      <li>
        <a href="/medical_items"><button>View all medical items</button></a>
      </li>
      <li>
        <a href="/medical_items/create"
          ><button>Create a new medical item</button></a
        >
      </li>
      <!-- Add a placeholder for id in the URL -->
      <li>
        <a href="/medical_items/1/update"
          ><button>Update medical item</button></a
        >
      </li>
      <!-- Add a placeholder for id in the URL -->
      <li>
        <a href="/medical_items/1/delete"
          ><button>Delete medical item</button></a
        >
      </li>
    </ul>
  </body>
</html>
